#commit-info
  .right
    %dl
      %dt commit:
      %dd
        %a{:href => "#{prefix_url(repo.param)}/commit/#{commit.id_abbrev}"}
          %code= commit.id
      %br/
      %dt tree:
      %dd
        %a{:href => "#{prefix_url(repo.param)}/tree/#{commit.tree.id[0..7]}"}
          %code= commit.tree.id
      %br/
      - commit.parents.each do |parent|
        %dt parent:
        %dd
          %a{:href => "#{prefix_url(repo.param)}/commit/#{parent.id_abbrev}"}
            %code= parent.id
