= partial(:header, :locals => {:repo => @repo})
%h3
  Commit: #{@commit.id}#{commit_refs(@commit, @repo.param)} #{patch_link(@commit, @repo.param)}
.active
  #commit.single-commit
    = partial(:commit_info_box, :locals => { :repo => @repo, :commit => @commit })
    = actor_boxes @commit
    #message= simple_format(h(@commit.message))
    = file_listing(@commit)
    #files
      - count = 0
      - @commit.diffs.select { |d| !d.deleted_file && !d.new_file }.each do |diff|
        - count += 1
        %h4
          %img{:src => prefix_url("img/doc.png")}/
          %a{:name => "file_#{count}"}
            %code= diff.b_path
        %pre
          %code.diff= h diff.diff
